:root {
    --cor-de-dundo: #FFEDFA;
    --botao: #DE3163;
    --cor-fundo2: #E195AB;
    --detalhes: #CCDF92;
}

body{
    background-color: var(--cor-de-dundo);
}
header{
    display: block;
    background-color: var(--cor-fundo2);
}
#container{
    background-color: var(--botao);
}

