:root {
    --cor-de-dundo: #FFEDFA;
    --botao: #DE3163;
    --cor-fundo2: #E195AB;
    --detalhes: #CCDF92;
}

.body{
 background-color: #FFEDFA;
}
.header{
    display: block;
    color: #DE3163;


}

