:root {
    --cor-de-fundo: #FFEDFA;
    --botao: #DE3163;
    --cor-fundo2: #E195AB;
    --detalhes: #CCDF92;
}

body{
    background-color: var(--cor-de-fundo);
}
header{
    display: flex;
    width:100%;
    justify-self: start;
    background-color: var(--cor-fundo2);
}
#container{
    margin: 10px;
    display: flex;
    border-radius:10px ;
    background-color: var(--botao);
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.h1{
    width: 30px;
    display: flex;
    justify-content: center;
}


